<div>
    <h1>StaticPages#secret</h1>
    <p>Find me in app/views/static_pages/secret.html.erb</p>
    <% if user_signed_in? %>
      <p>This is a secret page visible to signed-in users.</p>
    <% else %>
     <p>You need to sign in to access this secret page.</p>
    <% end %>
</div>

<%= link_to "Home", root_path %>